<div class="login-page">
        <div class="row justify-content-md-center center-frame">
            <div class="col-md-4">
              <img src="../../../../assets/images/VNDR.svg" width="200px" class="user-avatar" />
              <!-- <h1>VNDR</h1> -->
                <div class="displayTable">
                        <div class="displayTableCell">
                          <div class="authBlock">
                            <h3>Thank You for Registering</h3>
                              <p class="text-center">We are verifying your email.</p>
                          </div>
                        </div>
                      </div>

            </div>
        </div>
    </div>

