<!-- <p>
  <countdown [config]="{leftTime: 864000}"></countdown>
</p> -->
<div class="d-flex justify-content-center comming_soon"> 

  <div class="timmer">
  <a href="javascript:void(0)" class="logo"><img src="../../assets/images/logo-white.png"/></a>
  <div class="time_section"> 
    <span>{{days}} <em>Days</em></span>
    <span>{{hours}} <em>Hours</em></span>
    <span>{{minutes}} <em>Minutes</em></span>
    <span>{{seconds}} <em>Seconds</em></span>
  </div>
  </div>  

<div class="content">   
  <h3>Let's Party.</h3>
  <a routerLink="/become-a-customer" class="btn btn-yellow">Sign Up</a>
  <a routerLink="/become-a-vendor" class="btn btn-line">Become a vendor</a>
</div>

</div>
