<div class="container-fluid">
<div class="footer">
    <div class="row">
      <div class="col-sm-2"></div>
      <div class="col-sm-2">
        <a class="navbar-brand" href="javascript:void(0)">
          <img
            src="assets/images/logo-new.png"
            alt="Brand Logo"
            class="logo"
          />
        </a>
      </div>
      <div class="col-sm-2">
        <p class="foot-menu-title">Quick Link</p>
        <ul class="list-group">
          <a href=""><li class="list-group-item">Feature</li></a>
          <a href=""
            ><li class="list-group-item">Terms & Condition</li></a
          >
          <a href=""
            ><li class="list-group-item">User Feedback</li></a
          >
          <a href=""
            ><li class="list-group-item">Online Payment</li></a
          >
        </ul>
      </div>
      <div class="col-sm-2">
        <p class="foot-menu-title">How It Work?</p>
        <ul class="list-group">
          <a href=""
            ><li class="list-group-item">Create Account</li></a
          >
          <a href=""><li class="list-group-item">Make Plan</li></a>
          <a href=""><li class="list-group-item">Select Date</li></a>
          <a href=""
            ><li class="list-group-item">Online Payment</li></a
          >
        </ul>
      </div>
      <div class="col-sm-2">
        <div class="social">
          <a href=""><i class="fa fa-facebook"></i></a>
          <a href=""><i class="fa fa-twitter"></i></a>
          <a href=""> <i class="fa fa-instagram"></i></a>
          <a href=""> <i class="fa fa-linkedin"></i></a>
        </div>
      </div>
    </div>
  </div>
  <p class="copyright">© Copyright vndr. All rights reserved.</p>
</div>