<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb mt-3">
          <li class="breadcrumb-item"><a href="javascript:void(0)">Japanese Cuisine</a></li>
          <li class="breadcrumb-item active" aria-current="page">Booking</li>
        </ol>
      </nav>

<ngb-tabset class="custom_tab">
  <ngb-tab title="Upcoming">
    <ng-template ngbTabContent>
      
      <div class="row">
        <div class="col-md-6 col-lg-4">
            <div class="booking_itmes">
              <div class="image_sectoin"><img src="../../../assets/images/hm5gvyss.png" alt=""/></div>
              <div class="text_section">
                <h6>Package1 Name</h6>
                <p>Item Name</p>
                <p>Date & Time</p>
                <p><b>Price</b></p>
                <a href="javascript:void(0)" class="btn btn-purple">View Detail</a>
              </div>
            </div> 
        </div> 
        <div class="col-md-6 col-lg-4">
            <div class="booking_itmes">
              <div class="image_sectoin"><img src="../../../assets/images/c0eok5e1.png" alt=""/></div>
              <div class="text_section">
                <h6>Package1 Name</h6>
                <p>Item Name</p>
                <p>Date & Time</p>
                <p><b>Price</b></p>
                <a href="javascript:void(0)" class="btn btn-purple">View Detail</a>
              </div>
            </div> 
        </div> 
        <div class="col-md-6 col-lg-4">
            <div class="booking_itmes">
              <div class="image_sectoin"><img src="../../../assets/images/l36b0lfa.png" alt=""/></div>
              <div class="text_section">
                <h6>Package1 Name</h6>
                <p>Item Name</p>
                <p>Date & Time</p>
                <p><b>Price</b></p>
                <a href="javascript:void(0)" class="btn btn-purple">View Detail</a>
              </div>
            </div> 
        </div> 
        <div class="col-md-6 col-lg-4">
            <div class="booking_itmes">
              <div class="image_sectoin"><img src="../../../assets/images/hm5gvyss.png" alt=""/></div>
              <div class="text_section">
                <h6>Package1 Name</h6>
                <p>Item Name</p>
                <p>Date & Time</p>
                <p><b>Price</b></p>
                <a href="javascript:void(0)" class="btn btn-purple">View Detail</a>
              </div>
            </div> 
        </div> 
        <div class="col-md-6 col-lg-4">
            <div class="booking_itmes">
              <div class="image_sectoin"><img src="../../../assets/images/c0eok5e1.png" alt=""/></div>
              <div class="text_section">
                <h6>Package1 Name</h6>
                <p>Item Name</p>
                <p>Date & Time</p>
                <p><b>Price</b></p>
                <a href="javascript:void(0)" class="btn btn-purple">View Detail</a>
              </div>
            </div> 
        </div> 
        <div class="col-md-6 col-lg-4">
            <div class="booking_itmes">
              <div class="image_sectoin"><img src="../../../assets/images/l36b0lfa.png" alt=""/></div>
              <div class="text_section">
                <h6>Package1 Name</h6>
                <p>Item Name</p>
                <p>Date & Time</p>
                <p><b>Price</b></p>
                <a href="javascript:void(0)" class="btn btn-purple">View Detail</a>
              </div>
            </div> 
        </div> 
      </div>
      
    </ng-template>
  </ngb-tab>
  <ngb-tab>
    <ng-template ngbTabTitle>Past</ng-template>
    <ng-template ngbTabContent>
        <div class="row">
            <div class="col-md-6 col-lg-4">
                <div class="booking_itmes">
                  <div class="image_sectoin"><img src="../../../assets/images/c0eok5e1.png" alt=""/></div>
                  <div class="text_section">
                    <h6>Package1 Name</h6>
                    <p>Item Name</p>
                    <p>Date & Time</p>
                    <p><b>Price</b></p>
                    <a href="javascript:void(0)" class="btn btn-purple">View Detail</a>
                  </div>
                </div> 
            </div>  
            <div class="col-md-6 col-lg-4">
                <div class="booking_itmes">
                  <div class="image_sectoin"><img src="../../../assets/images/l36b0lfa.png" alt=""/></div>
                  <div class="text_section">
                    <h6>Package1 Name</h6>
                    <p>Item Name</p>
                    <p>Date & Time</p>
                    <p><b>Price</b></p>
                    <a href="javascript:void(0)" class="btn btn-purple">View Detail</a>
                  </div>
                </div> 
            </div> 
            <div class="col-md-6 col-lg-4">
                <div class="booking_itmes">
                  <div class="image_sectoin"><img src="../../../assets/images/hm5gvyss.png" alt=""/></div>
                  <div class="text_section">
                    <h6>Package1 Name</h6>
                    <p>Item Name</p>
                    <p>Date & Time</p>
                    <p><b>Price</b></p>
                    <a href="javascript:void(0)" class="btn btn-purple">View Detail</a>
                  </div>
                </div> 
            </div> 
        </div> 
    </ng-template>
  </ngb-tab> 
</ngb-tabset>
</div>