<div class="login-page" [@routerTransition]>
  <div class="login-left-pannel animated fadeInLeft">
  </div>

  <div class="login-right-pannel">
    <div class="top-corner  animated fadeInRight"></div>
    <div class="from-frame">
      <h1>{{ 'Sign Up to new account' }}</h1>


      <form [formGroup]="signUpForm" (submit)="signUp()">
        <div class="white-frame">
          <div class="form-field-frame">
            <img src="../../../assets/images/icon-name.png" alt="Name" class="img-icon name-icon" />
            <mat-form-field>
              <input matInput formControlName="name" placeholder="{{ 'Name' }}" required maxlength="100">
              <mat-error class="error" *ngIf="signUpForm.controls['name'].hasError('required') && isSignSubmited">
                {{"Name is required"}}</mat-error>
            </mat-form-field>
          </div>
          <div class="form-field-frame">
            <img src="../../../assets/images/email.png" alt="email" class="img-icon" />
            <mat-form-field>
              <input matInput type="email" formControlName="email" placeholder="{{ 'Email Address' }}"
                required maxlength="100">
              <mat-error class="error" *ngIf="signUpForm.controls['email'].hasError('required') && isSignSubmited">
                {{"Email is required"}}</mat-error>
              <mat-error class="error"
                *ngIf="signUpForm.controls['email'].hasError('email') && signUpForm.controls['email'].value != ''">
                {{"Invalid Email"}}</mat-error>
              <mat-error class="error" *ngIf="signUpForm.controls['email'].hasError('maxlength') && isSignSubmited">
                {{"Email must be of maximum 100 characters length"}}</mat-error>
            </mat-form-field>
          </div>

          <div class="form-field-frame passlock">
              <img src="../../../assets/images/password.png" alt="password lock"  class="img-icon"/>
              <mat-form-field>
                <input matInput type= "password" formControlName="password" required placeholder="{{ 'Password' }}" maxlength="20">
                <mat-error class="error" *ngIf="signUpForm.controls['password'].hasError('required') && isSignSubmited">{{"Password is required"}}</mat-error>
                <mat-error class="error" *ngIf="signUpForm.controls['password'].hasError('minlength') && isSignSubmited">{{"Password must be of minimum 6 characters length"}}</mat-error>
                <mat-error class="error" *ngIf="signUpForm.controls['password'].hasError('maxlength') && isSignSubmited">{{"Password must be of maximum 30 characters length"}}</mat-error>
              </mat-form-field>
            </div>          
        </div>
        <div class="form-field-footer">
          <div class="left"><a [routerLink]="['/login']">{{ 'Login' }}</a></div>
          <div class="left">  <button class="btn btn-primary" [routerLink]="['/signup-vendor']">{{ 'Become as Vendor' }} </button></div>
          <div class="right">
            <button mat-stroked-button>{{ 'Sign Up' }} </button>
          </div>
        </div>
      </form>
    </div>
  </div>


</div>