@import "../login/login.component.scss";
.login-page {
  background-image: url(../../../assets/images/forgot-password-bg-screen.png);
  background-position: 56% 50px;
  background-repeat: no-repeat;
  @media(max-width:860px){
    background-position: 85% 50px;
  }
  @media(max-width:440px){
    background-position: 90% 50px;
  }
  .login-left-pannel{
    -webkit-order:2;
    order:2;
    align-self: flex-start;
    @media(max-width:860px){
      align-self: inherit;
      text-align: right;
      max-width: 100%;
      img{
        max-width: 420px;
      }
    }
    @media(max-width:440px){
      img{
        max-width: 280px;
      }
    }
  }
  .login-right-pannel{
    -webkit-order:1;
    order:1;
    @media(min-width:861px){
      align-items: flex-end;
      padding-left: 0;
      padding-right: 15px;
    }
    .top-corner{
      right:auto;
      left:-15px;
    }
    .from-frame{
      @media(max-width:860px){
        margin:130px auto 50px;
      }
      h1.forgot-title{
        margin-bottom: 8px!important;
      }
      p{
        font-size: 15px;
        color: #adafb1;
        padding: 0 15px;
        margin-bottom: 22px;
        line-height: 20px;
        font-weight: 300;
      }
      .white-frame{
        .forgot-form-field-frame{
          padding-bottom: 11px;
        }
      }
    }
  }
}