<div class="login-page" [@routerTransition]>

  <div class="login-left-pannel animated fadeInRight">
    <img src="../../../assets/images/forgot-password-circle.png" alt="forgot-password-circle" />
  </div>
  
  <div class="login-right-pannel">
    <div class="top-corner animated fadeInLeft"><img src="../../../assets/images/login-left-corner.png" alt="corner" /></div>
    <div class="from-frame">
      <!-- <div><img src="../../../assets/images/VNDR-logo.png" alt="VNDR"/></div> -->
      <h1 class="forgot-title">{{ 'Forgot Password?' }}</h1>
      <p>{{ 'We will send reset link on your registered email address' }}</p>
      <form *ngIf="!resetpassword" [formGroup]="forgotForm" class="form-validation" (submit)="forgotPassword()">
        <div class="white-frame">
          <div class="form-field-frame forgot-form-field-frame">
            <img src="../../../assets/images/email.png" alt="email" class="img-icon"/>
            <mat-form-field>
              <input matInput formControlName="email" required placeholder="{{ 'Email Address' }}">
              <mat-error class="error" *ngIf="forgotForm.controls['email'].hasError('required') && isForgotSubmited">{{"Email is required"}}</mat-error>
              <mat-error class="error" *ngIf="forgotForm.controls['email'].hasError('email') && forgotForm.controls['email'].value != ''">{{"Invalid Email"}}</mat-error>
              <mat-error class="error" *ngIf="forgotForm.controls['email'].hasError('maxlength') && isForgotSubmited">{{"Email must be of maximum 100 characters length"}}</mat-error>              
            </mat-form-field>
            <!-- <div class="icon-box"><img src="../../../assets/images/tick.png" alt="approve"/></div> -->
          </div>
        </div>
        <div class="form-field-footer">
          <div class="left"><a [routerLink]="['/login']">{{ 'Back to login' }}</a></div>
          <div class="right">
            <button mat-stroked-button>{{ 'Submit' }}</button>
          </div>
        </div>
      </form>
      <form *ngIf="resetpassword" [formGroup]="resetForm" class="form-validation mt-20" (submit)="resetPassword()">
        <div class="form-content">
            <div class="form-group">
                <input type="text" formControlName="otp" required class="form-control input-underline input-lg" placeholder="{{ 'Enter Otp' }}">
                <p class="error" *ngIf="resetForm.controls['otp'].hasError('required') && isResetSubmited">
                    {{"Otp is required"}}
                </p>
            </div>
            <div class="form-group">
                <input type="text" formControlName="password" required class="form-control input-underline input-lg" placeholder="{{ 'Password' }}">
                <p class="error" *ngIf="resetForm.controls['password'].hasError('required') && isResetSubmited">
                    {{"Password is required"}}
                </p>
                <p class="error" *ngIf="resetForm.controls['password'].hasError('minlength') && isResetSubmited">
                    {{"Minimum 8 characters required"}}
                </p>
            </div>
        </div>

        <button class="btn rounded-btn">{{ 'Reset Password' }}</button>
        &nbsp;
        <a class="btn rounded-btn" [routerLink]="['/login']">{{ 'Log in' }}</a>
    </form>
    </div>
  </div>

  <!-- Login Footer -->
  <div class="login-footer">
    <div>
      <a href="javascript:void(0);">Privacy Policy</a>
      <a href="javascript:void(0);">Terms</a>
      <a href="javascript:void(0);">Contact us</a>
      <span>&copy; 2019 VNDR</span>
    </div>
  </div>

    <!-- <div class="row justify-content-md-center center-frame">
        <div class="col-md-6 col-lg-4">
            <img src="../../../../assets/images/VNDR.svg" width="200px" class="user-avatar" />
            <h1>VNDR</h1>
            <form *ngIf="!resetpassword" [formGroup]="forgotForm" class="form-validation mt-20" (submit)="forgotPassword()">
                <div class="form-content">
                    <div class="form-group">
                            <input type="text" formControlName="email" required class="form-control input-underline input-lg" placeholder="{{ 'Email' }}">
                        <p class="error" *ngIf="forgotForm.controls['email'].hasError('required') && isForgotSubmited">
                                {{"Email is required"}}
                              </p>
                              <p class="error" *ngIf="forgotForm.controls['email'].hasError('email') && forgotForm.controls['email'].value != ''">
                                {{"Invalid Email"}}
                              </p>
                              <p class="error" *ngIf="forgotForm.controls['email'].hasError('maxlength') && isForgotSubmited">
                                {{"Email must be of maximum 100 characters length"}}
                              </p>
                    </div>
                </div>

                <button class="btn rounded-btn">{{ 'Generate Otp' }}</button>
                &nbsp;
                <a class="btn rounded-btn" [routerLink]="['/login']">{{ 'Log in' }}</a>
            </form>
            <form *ngIf="resetpassword" [formGroup]="resetForm" class="form-validation mt-20" (submit)="resetPassword()">
                <div class="form-content">
                    <div class="form-group">
                        <input type="text" formControlName="otp" required class="form-control input-underline input-lg" placeholder="{{ 'Otp' }}">
                        <p class="error" *ngIf="resetForm.controls['otp'].hasError('required') && isResetSubmited">
                            {{"Otp is required"}}
                        </p>
                    </div>
                    <div class="form-group">
                        <input type="text" formControlName="password" required class="form-control input-underline input-lg" placeholder="{{ 'Password' }}">
                        <p class="error" *ngIf="resetForm.controls['password'].hasError('required') && isResetSubmited">
                            {{"Password is required"}}
                        </p>
                        <p class="error" *ngIf="resetForm.controls['password'].hasError('minlength') && isResetSubmited">
                            {{"Minimum 8 characters required"}}
                        </p>
                    </div>
                </div>

                <button class="btn rounded-btn">{{ 'Reset Password' }}</button>
                &nbsp;
                <a class="btn rounded-btn" [routerLink]="['/login']">{{ 'Log in' }}</a>
            </form>
        </div>
    </div> -->
</div>
